<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstLetter</key>
	<array>
		<string>Q</string>
		<string>W</string>
		<string>E</string>
		<string>R</string>
		<string>T</string>
		<string>Y</string>
		<string>U</string>
		<string>I</string>
		<string>O</string>
		<string>P</string>
	</array>
	<key>SecondLetter</key>
	<array>
		<string>A</string>
		<string>S</string>
		<string>D</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
	</array>
	<key>ThirdLetter</key>
	<array>
		<string>Z</string>
		<string>X</string>
		<string>C</string>
		<string>V</string>
		<string>B</string>
		<string>N</string>
		<string>M</string>
	</array>
	<key>Province</key>
	<array>
		<string>京</string>
		<string>津</string>
		<string>冀</string>
		<string>晋</string>
		<string>蒙</string>
		<string>辽</string>
		<string>吉</string>
		<string>黑</string>
		<string>沪</string>
		<string>苏</string>
		<string>浙</string>
		<string>皖</string>
		<string>闽</string>
		<string>赣</string>
		<string>鲁</string>
		<string>豫</string>
		<string>鄂</string>
		<string>湘</string>
		<string>粤</string>
		<string>桂</string>
		<string>琼</string>
		<string>渝</string>
		<string>川</string>
		<string>贵</string>
		<string>云</string>
		<string>藏</string>
		<string>陕</string>
		<string>甘</string>
		<string>青</string>
		<string>宁</string>
		<string>新</string>
	</array>
	<key>Number</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>0</string>
	</array>
</dict>
</plist>
